*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.joke-conainer{
  border: 3px solid black;
  padding:3rem;
  text-align: center;
  width: 70%;
  margin: 20vh auto;
  border-radius: 1rem;

}

h1{
  margin: 1rem;
  

}
button{
  width: 8rem;
  height: 3rem;
  border-radius: 1rem;
  border: none;
  background-color: dodgerblue;
  color: white;
  font-size: 1.2rem;
  cursor: circle;

}

h2{
  margin: 1rem;
}